In [2]:
from pathlib import Path
import pandas as pd
import os
import json
dataset_path = Path("/data/dzeiberg/mave_calibration/data/Jia_MSH2_SSM/")
assert dataset_path.exists()

In [3]:
data = pd.read_csv(dataset_path / "raw" / "urn_mavedb_00000050-a-1_scores.csv")

In [4]:
data.head()

,accession,hgvs_nt,hgvs_splice,hgvs_pro,score,mavedb_clnsig,mavedb_clnrevstat
0,urn:mavedb:00000050-a-1#1,NaN,NaN,p.Met1Ala,-0.079522,NaN,NaN
1,urn:mavedb:00000050-a-1#2,NaN,NaN,p.Met1Cys,NaN,NaN,NaN
2,urn:mavedb:00000050-a-1#3,NaN,NaN,p.Met1Tyr,-2.870684,NaN,NaN
3,urn:mavedb:00000050-a-1#4,NaN,NaN,p.Met1Trp,-3.991671,NaN,NaN
4,urn:mavedb:00000050-a-1#5,NaN,NaN,p.Met1Val,-1.395361,Uncertain_significance,reviewed_by_expert_panel

In [5]:
data[data.score.isna()]

,accession,hgvs_nt,hgvs_splice,hgvs_pro,score,mavedb_clnsig,mavedb_clnrevstat
1,urn:mavedb:00000050-a-1#2,NaN,NaN,p.Met1Cys,NaN,NaN,NaN
12,urn:mavedb:00000050-a-1#13,NaN,NaN,p.Met1Glu,NaN,NaN,NaN
13,urn:mavedb:00000050-a-1#14,NaN,NaN,p.Met1Phe,NaN,NaN,NaN
36,urn:mavedb:00000050-a-1#37,NaN,NaN,p.Ala2Trp,NaN,NaN,NaN
42,urn:mavedb:00000050-a-1#43,NaN,NaN,p.Val3Gln,NaN,NaN,NaN
...,...,...,...,...,...,...,...
17682,urn:mavedb:00000050-a-1#17683,NaN,NaN,p.Lys931Gln,NaN,NaN,NaN
17687,urn:mavedb:00000050-a-1#17688,NaN,NaN,p.Lys931Cys,NaN,NaN,NaN
17710,urn:mavedb:00000050-a-1#17711,NaN,NaN,p.Thr933Trp,NaN,NaN,NaN
17718,urn:mavedb:00000050-a-1#17719,NaN,NaN,p.Thr933Lys,NaN,NaN,NaN
17732,urn:mavedb:00000050-a-1#17733,NaN,NaN,p.Thr934Met,NaN,Conflicting_interpretations_of_pathogenicity,"criteria_provided,_conflicting_interpretations"

In [6]:
data = data.dropna(subset=['score'])

In [7]:
data

,accession,hgvs_nt,hgvs_splice,hgvs_pro,score,mavedb_clnsig,mavedb_clnrevstat
0,urn:mavedb:00000050-a-1#1,NaN,NaN,p.Met1Ala,-0.079522,NaN,NaN
2,urn:mavedb:00000050-a-1#3,NaN,NaN,p.Met1Tyr,-2.870684,NaN,NaN
3,urn:mavedb:00000050-a-1#4,NaN,NaN,p.Met1Trp,-3.991671,NaN,NaN
4,urn:mavedb:00000050-a-1#5,NaN,NaN,p.Met1Val,-1.395361,Uncertain_significance,reviewed_by_expert_panel
5,urn:mavedb:00000050-a-1#6,NaN,NaN,p.Met1Thr,0.301806,NaN,NaN
...,...,...,...,...,...,...,...
17741,urn:mavedb:00000050-a-1#17742,NaN,NaN,p.Thr934Cys,-2.485740,NaN,NaN
17742,urn:mavedb:00000050-a-1#17743,NaN,NaN,p.Thr934Tyr,-4.022393,NaN,NaN
17743,urn:mavedb:00000050-a-1#17744,NaN,NaN,p.Thr934Ala,-3.004477,NaN,NaN
17744,urn:mavedb:00000050-a-1#17745,NaN,NaN,p.Thr934Lys,-4.976463,Conflicting_interpretations_of_pathogenicity,"criteria_provided,_conflicting_interpretations"
17745,urn:mavedb:00000050-a-1#17746,NaN,NaN,p.Thr934Trp,-2.440222,NaN,NaN

In [10]:
data.to_csv(dataset_path / 'scoreset.csv', index=False)

In [6]:
metadata = dict(uniprot_acc='P43246')
with open(dataset_path / 'metadata.json', 'w') as f:
    json.dump(metadata, f)