In [2]:
import pandas as pd
from pathlib import Path

dataset_path = Path("/data/dzeiberg/mave_calibration/data/Kotler_TP53_RelativeFitnessH1299/")
assert dataset_path.exists()

In [3]:
data = pd.read_excel(dataset_path / "raw" / "mmc3.xlsx")

In [4]:
data

,Number,Var_seq,Identifier,SubLib,Backbone,Mut_type,Position,Seq_change,Codon_num,AA_change,Sec_mut_position,Sec_seq_change,Sec_codon_num,Sec_AA_change,MutID,IARC_Desc,Silent,RFS_H1299
0,1,AAATACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100001,DBDA,wt,AASub,304,ACC>AAA,102.0,T>K,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.224744
1,2,AGATACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100002,DBDA,wt,AASub,304,ACC>AGA,102.0,T>R,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.973493
2,3,ATGTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100003,DBDA,wt,AASub,304,ACC>ATG,102.0,T>M,NaN,NaN,NaN,NaN,NaN,NaN,False,-3.400709
3,4,CACTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100004,DBDA,wt,AASub,304,ACC>CAC,102.0,T>H,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.277664
4,5,CTCTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100005,DBDA,wt,AASub,304,ACC>CTC,102.0,T>L,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.486801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9511,9826,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403444,DBDD,wt,Ins,876,T,292.0,K>F.S,NaN,NaN,NaN,NaN,NaN,NaN,False,0.169546
9512,9827,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403445,DBDD,wt,Sub,876,A>C,292.0,K>N,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.443976
9513,9829,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403447,DBDD,wt,Sub,876,A>T,292.0,K>N,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.610151
9514,9830,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403448,DBDD,wt,IARC.InDel.GeneVars,Unspecified,NaN,292.0,NaN,NaN,NaN,NaN,NaN,MutID4031,del2,False,0.849255
9515,9833,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403451,DBDD,wt,Ins,877,T,293.0,G>F.S,NaN,NaN,NaN,NaN,NaN,NaN,False,0.300864

In [5]:
data.Mut_type.value_counts()

Mut_type
Sub                     2552
AASub                   2231
Ins                     1666
HSSupp                  1146
Del                      644
HSComb                   414
IARC.InDel.GeneVars      233
DelAA                    182
Del2AA                   175
STOP                     136
Sub2bp                    68
SNP_HS_Comb               59
IARC.InDel.SomatMuts       5
wtp53_DBDA_seq             1
wtp53_DBDB_seq             1
IARC.InDel.GermLine        1
wtp53_DBDC_seq             1
wtp53_DBDD_seq             1
Name: count, dtype: int64

In [5]:
subset = data[data.Mut_type.isin({'Sub','AASub','HSSupp'})]

In [7]:
subset

,Number,Var_seq,Identifier,SubLib,Backbone,Mut_type,Position,Seq_change,Codon_num,AA_change,Sec_mut_position,Sec_seq_change,Sec_codon_num,Sec_AA_change,MutID,IARC_Desc,Silent,RFS_H1299
0,1,AAATACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100001,DBDA,wt,AASub,304,ACC>AAA,102.0,T>K,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.224744
1,2,AGATACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100002,DBDA,wt,AASub,304,ACC>AGA,102.0,T>R,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.973493
2,3,ATGTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100003,DBDA,wt,AASub,304,ACC>ATG,102.0,T>M,NaN,NaN,NaN,NaN,NaN,NaN,False,-3.400709
3,4,CACTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100004,DBDA,wt,AASub,304,ACC>CAC,102.0,T>H,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.277664
4,5,CTCTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100005,DBDA,wt,AASub,304,ACC>CTC,102.0,T>L,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.486801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9506,9821,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403439,DBDD,wt,Sub,875,A>C,292.0,K>T,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.786279
9507,9822,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403440,DBDD,wt,Sub,875,A>G,292.0,K>R,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.140749
9508,9823,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403441,DBDD,wt,Sub,875,A>T,292.0,K>I,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.771565
9512,9827,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403445,DBDD,wt,Sub,876,A>C,292.0,K>N,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.443976
9513,9829,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403447,DBDD,wt,Sub,876,A>T,292.0,K>N,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.610151

In [8]:
from Bio.PDB.Polypeptide import protein_letters_3to1
protein_letters_1to3 = {v: k.title() for k, v in protein_letters_3to1.items()}
protein_letters_1to3["*"] = "Ter"
def make_hgvs_pro(r):
    return f"p.{protein_letters_1to3[r.AA_change[0]]}{int(r.Codon_num)}{protein_letters_1to3[r.AA_change[-1]]}"

In [9]:
subset = subset.assign(hgvs_pro=subset.apply(make_hgvs_pro, axis=1))

In [10]:
subset

,Number,Var_seq,Identifier,SubLib,Backbone,Mut_type,Position,Seq_change,Codon_num,AA_change,Sec_mut_position,Sec_seq_change,Sec_codon_num,Sec_AA_change,MutID,IARC_Desc,Silent,RFS_H1299,hgvs_pro
0,1,AAATACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100001,DBDA,wt,AASub,304,ACC>AAA,102.0,T>K,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.224744,p.Thr102Lys
1,2,AGATACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100002,DBDA,wt,AASub,304,ACC>AGA,102.0,T>R,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.973493,p.Thr102Arg
2,3,ATGTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100003,DBDA,wt,AASub,304,ACC>ATG,102.0,T>M,NaN,NaN,NaN,NaN,NaN,NaN,False,-3.400709,p.Thr102Met
3,4,CACTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100004,DBDA,wt,AASub,304,ACC>CAC,102.0,T>H,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.277664,p.Thr102His
4,5,CTCTACCAGGGCAGCTACGGTTTCCGTCTGGGCTTCTTGCATTCTG...,100005,DBDA,wt,AASub,304,ACC>CTC,102.0,T>L,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.486801,p.Thr102Leu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9506,9821,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403439,DBDD,wt,Sub,875,A>C,292.0,K>T,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.786279,p.Lys292Thr
9507,9822,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403440,DBDD,wt,Sub,875,A>G,292.0,K>R,NaN,NaN,NaN,NaN,NaN,NaN,False,-2.140749,p.Lys292Arg
9508,9823,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403441,DBDD,wt,Sub,875,A>T,292.0,K>I,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.771565,p.Lys292Ile
9512,9827,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403445,DBDD,wt,Sub,876,A>C,292.0,K>N,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.443976,p.Lys292Asn
9513,9829,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403447,DBDD,wt,Sub,876,A>T,292.0,K>N,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.610151,p.Lys292Asn

In [11]:
subset = subset.rename(columns={"RFS_H1299":"score"})

In [12]:
subset.to_csv(dataset_path / "scoreset.csv", index=False)