In [1]:
import pandas as pd
from pathlib import Path
dataset_path = Path("/data/dzeiberg/mave_calibration/data/Kotler_TP53_inVivoEnrichment/")
assert dataset_path.exists()

In [2]:
data = pd.read_excel(dataset_path / "raw" / 'mmc6.xlsx')

In [3]:
data

,Identifier,Var_seq,Identifier.1,SubLib,Backbone,Mut_type,Position,Seq_change,Codon_num,AA_change,Silent,Enrichment_invivo
0,400063,AATAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400063,DBDD,wt,AASub,736,ATG>AAT,246,M>N,False,-0.268687
1,400064,AGTAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400064,DBDD,wt,AASub,736,ATG>AGT,246,M>S,False,-0.170385
2,400065,CAGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400065,DBDD,wt,AASub,736,ATG>CAG,246,M>Q,False,-3.056508
3,400066,CCGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400066,DBDD,wt,AASub,736,ATG>CCG,246,M>P,False,-2.620823
4,400067,GAGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400067,DBDD,wt,AASub,736,ATG>GAG,246,M>E,False,-2.243882
...,...,...,...,...,...,...,...,...,...,...,...,...
965,403428,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403428,DBDD,wt,Del,874,A>0,292,K>F.S,False,-0.584308
966,403430,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403430,DBDD,wt,Ins,874,A,292,K>F.S,False,-0.951854
967,403438,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403438,DBDD,wt,Ins,875,T,292,K>F.S,False,-0.854025
968,403442,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403442,DBDD,wt,Ins,876,C,292,K>F.S,False,-4.042455
969,403451,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403451,DBDD,wt,Ins,877,T,293,G>F.S,False,-3.440203

In [6]:
data[(data.AA_change.str[0] == data.AA_change.str[-1]) & (data.AA_change.str.len() == 3)]

,Identifier,Var_seq,Identifier.1,SubLib,Backbone,Mut_type,Position,Seq_change,Codon_num,AA_change,Silent,Enrichment_invivo
78,400531,ATGAACCGAAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400531,DBDD,wt,Sub,744,G>A,248,R>R,True,-2.312527
175,400841,ATGAACCGGAGGCCCATTCTCACCATCATCACACTGGAAGACTCCA...,400841,DBDD,wt,Sub,753,C>T,251,I>I,True,-2.369269

In [4]:
data.Mut_type.value_counts()

Mut_type
AASub                   332
Ins                     235
Sub                     139
Del                     102
IARC.InDel.GeneVars      57
Del2AA                   37
DelAA                    36
STOP                     23
Sub2bp                    7
IARC.InDel.SomatMuts      2
Name: count, dtype: int64

In [13]:
remove = set(('Ins','Del','IARC.InDel.GeneVars','Del2AA','DelAA','STOP','Sub2bp','IARC.InDel.SomatMuts'))

In [15]:
data[~data.Mut_type.isin(remove)].shape[0],data.shape[0]

(471, 970)

In [16]:
subset = data[~data.Mut_type.isin(remove)]

In [18]:
data[data.Mut_type == "Sub2bp"]

,Identifier,Var_seq,Identifier.1,SubLib,Backbone,Mut_type,Position,Seq_change,Codon_num,AA_change,Silent,Enrichment_invivo
37,400131,ATGAATTGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400131,DBDD,wt,Sub2bp,741,CC>TT,248,R>W,False,-3.803088
150,400801,ATGAACCGGAGGCTTATCCTCACCATCATCACACTGGAAGACTCCA...,400801,DBDD,wt,Sub2bp,749,CC>TT,250,P>L,False,-0.637492
204,400905,ATGAACCGGAGGCCCATCCTCATTATCATCACACTGGAAGACTCCA...,400905,DBDD,wt,Sub2bp,758,CC>TT,253,T>I,False,-2.755150
289,401049,ATGAACCGGAGGCCCATCCTCACCATCATCACACTAAAAGACTCCA...,401049,DBDD,wt,Sub2bp,771,GG>AA,258,E>K,False,1.008610
436,401330,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,401330,DBDD,wt,Sub2bp,795,GG>AA,266,G>R,False,-3.418878
809,403025,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403025,DBDD,wt,Sub2bp,843,CC>TT,282,R>W,False,-0.964936
907,403208,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403208,DBDD,wt,Sub2bp,855,GG>AA,286,E>K,False,-0.148551

In [19]:
subset

,Identifier,Var_seq,Identifier.1,SubLib,Backbone,Mut_type,Position,Seq_change,Codon_num,AA_change,Silent,Enrichment_invivo
0,400063,AATAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400063,DBDD,wt,AASub,736,ATG>AAT,246,M>N,False,-0.268687
1,400064,AGTAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400064,DBDD,wt,AASub,736,ATG>AGT,246,M>S,False,-0.170385
2,400065,CAGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400065,DBDD,wt,AASub,736,ATG>CAG,246,M>Q,False,-3.056508
3,400066,CCGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400066,DBDD,wt,AASub,736,ATG>CCG,246,M>P,False,-2.620823
4,400067,GAGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,400067,DBDD,wt,AASub,736,ATG>GAG,246,M>E,False,-2.243882
...,...,...,...,...,...,...,...,...,...,...,...,...
929,403236,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403236,DBDD,wt,Sub,858,A>C,286,E>D,False,-2.355171
930,403238,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403238,DBDD,wt,Sub,858,A>T,286,E>D,False,-1.024162
932,403245,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403245,DBDD,wt,AASub,859,GAG>CCG,287,E>P,False,-4.052793
936,403258,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403258,DBDD,wt,Sub,859,G>T,287,E>*,False,-1.776986
946,403284,ATGAACCGGAGGCCCATCCTCACCATCATCACACTGGAAGACTCCA...,403284,DBDD,wt,AASub,862,AAT>TAA,288,N>*,False,-1.584004

In [20]:
from Bio.PDB.Polypeptide import protein_letters_3to1
protein_letters_1to3 = {v: k.title() for k, v in protein_letters_3to1.items()}
protein_letters_1to3["*"] = "Ter"
def make_hgvs_pro(r):
    return f"p.{protein_letters_1to3[r.AA_change[0]]}{r.Codon_num}{protein_letters_1to3[r.AA_change[-1]]}"

In [21]:
subset = subset.assign(hgvs_pro=subset.apply(make_hgvs_pro, axis=1))
subset = subset.rename(columns={'Enrichment_invivo':'score'})

In [22]:
subset.to_csv(dataset_path / "scoreset.csv", index=False)