In [1]:
import pandas as pd
from pathlib import Path
import json
dataset_path = Path("/data/dzeiberg/mave_calibration/data/Mighell_PTEN_lipidPhosphataseAssay/")
assert dataset_path.exists()
AUTHOR_TRANSCRIPT = "NM_000314.6"

In [2]:
data = pd.read_csv(dataset_path / "raw" / "urn_mavedb_00000054-a-1_scores.csv")
data = data.assign(author_transcript = AUTHOR_TRANSCRIPT)

In [3]:
data

,accession,hgvs_nt,hgvs_splice,hgvs_pro,score,SE,High_conf,A_score,A_SE,B_score,...,A2_SE,A3_score,A3_SE,B1_score,B1_SE,B2_score,B2_SE,B3_score,B3_SE,author_transcript
0,urn:mavedb:00000054-a-1#1,c.1207_1209delinsTAA,NaN,p.Val403Ter,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6
1,urn:mavedb:00000054-a-1#2,c.1207_1209del,NaN,p.Val403del,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6
2,urn:mavedb:00000054-a-1#3,c.1208_1209delinsAA,NaN,p.Val403Glu,0.193065,0.180809,1.0,0.348556,0.142215,-1.220374,...,0.194469,0.592867,0.150122,-2.78645,1.447358,-1.311838,0.872876,-0.559310,0.872879,NM_000314.6
3,urn:mavedb:00000054-a-1#4,c.1208_1209delinsAT,NaN,p.Val403Asp,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6
4,urn:mavedb:00000054-a-1#5,c.1207_1209delinsAAA,NaN,p.Val403Lys,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8676,urn:mavedb:00000054-a-1#8677,_wt,NaN,_wt,1.000000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6
8677,urn:mavedb:00000054-a-1#8678,c.1A>T,NaN,p.Met1Leu,-1.545614,0.883483,0.0,NaN,NaN,-1.545614,...,NaN,NaN,NaN,-3.08721,1.442090,-0.151521,0.692861,-2.184489,0.864111,NM_000314.6
8678,urn:mavedb:00000054-a-1#8679,c.3G>T,NaN,p.Met1Ile,-0.679813,0.929740,0.0,-0.679813,0.929740,NaN,...,1.432099,0.377438,0.362379,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6
8679,urn:mavedb:00000054-a-1#8680,c.[1A>G;3G>T],NaN,p.Met1Val,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.151521,0.894459,0.661712,0.444826,NM_000314.6
8680,urn:mavedb:00000054-a-1#8681,c.1_3delinsGCT,NaN,p.Met1Ala,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6

In [4]:
subset = data[(data.hgvs_pro.str.contains("p.")) & (~data.score.isna())]

In [5]:
subset

,accession,hgvs_nt,hgvs_splice,hgvs_pro,score,SE,High_conf,A_score,A_SE,B_score,...,A2_SE,A3_score,A3_SE,B1_score,B1_SE,B2_score,B2_SE,B3_score,B3_SE,author_transcript
2,urn:mavedb:00000054-a-1#3,c.1208_1209delinsAA,NaN,p.Val403Glu,0.193065,0.180809,1.0,0.348556,0.142215,-1.220374,...,0.194469,0.592867,0.150122,-2.786450,1.447358,-1.311838,0.872876,-0.559310,0.872879,NM_000314.6
8,urn:mavedb:00000054-a-1#9,c.1208_1209delinsGT,NaN,p.Val403Gly,-2.736793,0.828697,0.0,NaN,NaN,-2.736793,...,1.032800,-0.019169,1.032799,-3.238435,1.435344,-2.862236,1.435345,-2.109707,1.435347,NM_000314.6
14,urn:mavedb:00000054-a-1#15,c.1207_1209delinsTGG,NaN,p.Val403Trp,-2.459162,0.832588,0.0,NaN,NaN,-2.459162,...,NaN,NaN,NaN,-2.960803,1.442084,-2.584604,1.442085,-1.832076,1.442087,NM_000314.6
17,urn:mavedb:00000054-a-1#18,c.[1207G>A;1209C>G],NaN,p.Val403Met,0.106511,0.063560,1.0,0.106511,0.063560,NaN,...,0.119667,0.049131,0.103138,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6
19,urn:mavedb:00000054-a-1#20,c.[1207G>A;1209C>T],NaN,p.Val403Ile,-2.049575,0.909505,0.0,NaN,NaN,-2.049575,...,0.942814,1.429927,0.556045,-0.960285,0.351302,-3.628408,1.424000,-2.875880,1.424002,NM_000314.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8668,urn:mavedb:00000054-a-1#8669,c.1_3delinsTGT,NaN,p.Met1Cys,1.181219,0.298849,1.0,NaN,NaN,1.181219,...,NaN,NaN,NaN,0.583450,0.394800,1.632270,0.418682,1.333904,0.344656,NM_000314.6
8673,urn:mavedb:00000054-a-1#8674,c.1_2delinsTG,NaN,p.Met1Trp,-1.300060,0.432320,1.0,NaN,NaN,-1.300060,...,NaN,NaN,NaN,-0.824046,0.429695,-2.205445,1.432110,-1.781877,0.580532,NM_000314.6
8674,urn:mavedb:00000054-a-1#8675,c.1_3delinsTAT,NaN,p.Met1Tyr,-0.872034,0.286561,1.0,-1.100501,0.539142,-0.812891,...,0.477435,-1.375100,0.860684,-3.003829,1.444500,-0.578965,0.868147,-0.634770,0.490737,NM_000314.6
8677,urn:mavedb:00000054-a-1#8678,c.1A>T,NaN,p.Met1Leu,-1.545614,0.883483,0.0,NaN,NaN,-1.545614,...,NaN,NaN,NaN,-3.087210,1.442090,-0.151521,0.692861,-2.184489,0.864111,NM_000314.6
8678,urn:mavedb:00000054-a-1#8679,c.3G>T,NaN,p.Met1Ile,-0.679813,0.929740,0.0,-0.679813,0.929740,NaN,...,1.432099,0.377438,0.362379,NaN,NaN,NaN,NaN,NaN,NaN,NM_000314.6

In [14]:
subset.to_csv(dataset_path / 'scoreset.csv', index=False)

In [11]:
metadata = dict(uniprot_acc='P60484')
with open(dataset_path / 'metadata.json', 'w') as f:
    json.dump(metadata, f)