In [10]:
import pandas as pd
from pathlib import Path
import json
dataset_path = Path("/mnt/i/bio/mave_curation/Mighell_PTEN_lipidPhosphataseAssay/")
assert dataset_path.exists()

In [2]:
data = pd.read_csv(dataset_path / "raw" / "urn_mavedb_00000054-a-1_scores.csv")

In [6]:
data = data[data.hgvs_pro.str.contains("p.")]

In [7]:
data

,accession,hgvs_nt,hgvs_splice,hgvs_pro,score,SE,High_conf,A_score,A_SE,B_score,...,A2_score,A2_SE,A3_score,A3_SE,B1_score,B1_SE,B2_score,B2_SE,B3_score,B3_SE
0,urn:mavedb:00000054-a-1#1,c.1207_1209delinsTAA,NaN,p.Val403Ter,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,urn:mavedb:00000054-a-1#2,c.1207_1209del,NaN,p.Val403del,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,urn:mavedb:00000054-a-1#3,c.1208_1209delinsAA,NaN,p.Val403Glu,0.193065,0.180809,1.0,0.348556,0.142215,-1.220374,...,0.218258,0.194469,0.592867,0.150122,-2.78645,1.447358,-1.311838,0.872876,-0.559310,0.872879
3,urn:mavedb:00000054-a-1#4,c.1208_1209delinsAT,NaN,p.Val403Asp,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,urn:mavedb:00000054-a-1#5,c.1207_1209delinsAAA,NaN,p.Val403Lys,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8675,urn:mavedb:00000054-a-1#8676,c.[1A>T;3G>T],NaN,p.Met1Phe,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8677,urn:mavedb:00000054-a-1#8678,c.1A>T,NaN,p.Met1Leu,-1.545614,0.883483,0.0,NaN,NaN,-1.545614,...,NaN,NaN,NaN,NaN,-3.08721,1.442090,-0.151521,0.692861,-2.184489,0.864111
8678,urn:mavedb:00000054-a-1#8679,c.3G>T,NaN,p.Met1Ile,-0.679813,0.929740,0.0,-0.679813,0.929740,NaN,...,-3.495710,1.432099,0.377438,0.362379,NaN,NaN,NaN,NaN,NaN,NaN
8679,urn:mavedb:00000054-a-1#8680,c.[1A>G;3G>T],NaN,p.Met1Val,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.151521,0.894459,0.661712,0.444826
8680,urn:mavedb:00000054-a-1#8681,c.1_3delinsGCT,NaN,p.Met1Ala,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
scoreset = data.to_csv(dataset_path / 'scoreset.csv', index=False)

In [11]:
metadata = dict(uniprot_acc='P60484')
with open(dataset_path / 'metadata.json', 'w') as f:
    json.dump(metadata, f)